{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GreenWorld</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <header>
            <h1>Hello, let's test this</h1>
            <a href="/index/login">Login</a>
            <a href="/index/signup">Sign Up</a>
        </header>
        <main>
            
        </main>
        <footer>
             
        </footer>
        <script src="{% static 'bundle.js' %}"></script>
    </body>
</html>