{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GreenWorld - Sign Up</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <header>
            <h1>SignUp page</h1>
            <a href="/index">Homepage</a>
            <a href="login">Login</a>
        </header>
        <main>

        </main>
        <footer>
             
        </footer>
        <script src="{% static 'bundle.js' %}"></script>
    </body>
</html>
